:global {
  @import "../lib/codemirror.scss";
}
@import '../lib/manjari.scss';

:root {
  --safe-padding: 2vh;
  --safe-padding-bottom: 8vh;

  --primary-color: #00b2ff;
  --primary-color-light: #e7f5fa;
  --primary-color-light-2: #b9eaff;
  --primary-color-alt: #0092d1;
  --primary-dark: #3c2c34;
  --primary-light: #fff;

  --slide-background: var(--primary-light);

  --logo-title-color: var(--primary-color);
  --logo-subtitle-color: var(--primary-dark);
  --shell-line-color: var(--primary-dark);
  --shell-top-color: var(--primary-color-alt);
  --shell-bottom-color: #ffe9d4;
}

.subtitle {
  font-size: 3vh;
  text-transform: uppercase;
  letter-spacing: 1.5vh;
  word-spacing: 0.5vh;
  margin: 0;
}

.highlight {
  color: var(--primary-color);
}
hr.highlight {
  border-top-width: 1vh;
  margin: 4vh 0;
}

.checkboxLabel {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-left: 16px;
  }
}
.center {
  display: flex;
  text-align: center;
  justify-content: center;
}
.middle {
  display: flex;
  align-items: center;
}
.scrollMiddle {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: auto;
}
.centerCode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.smallCode {
  zoom: 0.55;
  overflow: hidden;
}

.me {
  font-size: 5vh;
  display: flex;
  align-items: center;

  svg,
  img {
    margin-right: 1rem;
  }
}
.twitter {
  font-size: 12vh;
  margin-bottom: 6vh;
}

.creditAuthor,
.demoLink {
  font-size: 5vh;
  padding: 0.5rem 0.7rem 0.2rem;
  color: var(--primary-color);
  line-height: 1;

  &:hover,
  &:focus {
    background: var(--primary-color);
    color: var(--primary-color-light);
  }
}

.hugeText {
  text-align: center;
  font-size: 5vh;

  .main,
  .highlight {
    font-size: 10vh;
  }
  .main {
    color: var(--primary-color);
  }
  .main:nth-of-type(2n) {
    color: var(--primary-color-alt);
  }
}
.centerWithHeader {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spread {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sidebyside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
.asideImgHolder {
  height: 65vh;
  width: 40%;
  max-width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: contain;
  }
}
.displayRight {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: center;
}
.flexDown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quote {
  quotes: none;

  &:before {
    content: "❝";
    position: relative;
    top: 0.8em;
    text-align: left;
  }
  &:after {
    content: "❞";
    text-align: right;
  }
  &:before,
  &:after {
    display: block;
    color: var(--primary-color);
    font-size: 300%;
  }
}
.quoteHighlight {
  display: block;
  font-size: 200%;
  color: var(--primary-color);
}
