:global {
  @import "../lib/codemirror.scss";
  @import "../lib/manjari.scss";
}

:root {
  --primary-color: #00b2ff;
  --primary-color-light: #e7f5fa;
  --primary-color-alt: #0092d1;
  --primary-dark: #3c2c34;
  --primary-light: #fff;

  --slide-background: var(--primary-light);

  --logo-title-color: var(--primary-color);
  --logo-subtitle-color: var(--primary-dark);
  --shell-line-color: var(--primary-dark);
  --shell-top-color: var(--primary-color-alt);
  --shell-bottom-color: #ffe9d4;
}

.subtitle {
  font-size: 5vh;
  opacity: 0.5;
}

.checkboxLabel {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-left: 16px;
  }
}
.center {
  display: flex;
  text-align: center;
  justify-content: center;
}
.middle {
  display: flex;
  align-items: center;
}
.scrollMiddle {
  display: flex;
  justify-content: center;
  height: 100%;
  overflow: auto;
}
.centerCode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.smallCode {
  zoom: 0.55;
  overflow: hidden;
}

.me {
  font-size: 5vh;
  display: flex;
  align-items: center;

  svg,
  img {
    margin-right: 1rem;
  }
}
.twitter {
  font-size: 12vh;
  margin-bottom: 6vh;
}

.hugeText {
  text-align: center;
  font-size: 5vh;

  .main,
  .pink,
  .orange {
    font-size: 10vh;
  }
  .main {
    color: var(--primary-color);
  }
  .main:nth-of-type(2n) {
    color: var(--primary-color-alt);
  }
}
.centerWithHeader {
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.spread {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.sidebyside {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
}
.displayRight {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  justify-items: center;
}
.flexDown {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.quote {
  quotes: none;

  &:before {
    content: "❝";
    position: relative;
    top: 0.8em;
    text-align: left;
  }
  &:after {
    content: "❞";
    text-align: right;
  }
  &:before,
  &:after {
    display: block;
    color: var(--primary-color);
    font-size: 300%;
  }
}
.quoteHighlight {
  display: block;
  font-size: 200%;
  color: var(--primary-color);
}
