.customFonts {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: var(--primary-color);
  font-size: 10vh;
  grid-gap: 0 10vh;
  line-height: 1;

  span:nth-child(1),
  span:nth-child(2),
  span:nth-child(3) {
    font-family: serif;
  }

  svg {
    font-size: 10vh;
  }
}
