@import "./lib/styles";

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  background-size: cover;
  background-position: top;
}
nav .icon {
  margin-right: 0.5em;
  margin-top: -0.3em;
}
.icon:hover,
a:hover .icon {
  background-position: bottom;
}
.icon-search {
  background-image: url("./images/icon-search.png");
}
.icon-profile {
  background-image: url("./images/icon-profile.png");
}
.icon-contact {
  background-image: url("./images/icon-contact.png");
}
.icon-help {
  background-image: url("./images/icon-help.png");
}
.icon-star {
  background-image: url("./images/icon-star.png");
}

.like {
  position: absolute;
  top: 16px;
  right: 16px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}
