.dynamicSvg {
  display: flex;
  color: var(--primary-color);
  padding: 0.5em;
  animation: dynamic-svg-color 3s linear infinite;
  font-size: 10vh;

  svg {
    height: 10vh;
    width: 10vh;
    margin-right: 1vh;
  }
}

@keyframes dynamic-svg-color {
  0% {
    color: var(--primary-color);
  }
  30% {
    color: var(--primary-color);
  }
  50% {
    color: var(--primary-dark);
  }
  80% {
    color: var(--primary-dark);
  }
  100% {
    color: var(--primary-color);
  }
}
