.custom-slide {
  background: var(--slide-background);
  color: var(--primary-dark);
  width: 100%;
  height: 100%;
  line-height: 1.5;
  padding: var(--safe-padding) var(--safe-padding) var(--safe-padding-bottom);
  overflow: hidden;
  box-sizing: border-box;

  h1 {
    border-bottom: 1vh solid var(--primary-color);
    padding-bottom: 1rem;
    margin: 1rem 0 3rem;
    font-size: 10vh;
    line-height: 1;
  }

  ul {
    font-size: 5vh;
    text-align: left;
  }

  hr {
    border-top: 0;
    width: 50%;
    border-color: currentColor;
    border-style: solid;
  }

  code {
    background: var(--primary-dark);
    border: 1px solid var(--primary-dark);
    padding: 4px 8px;
  }

  a {
    text-decoration: underline;
  }

  :global {
    .ReactCodeMirror .cm-s-reactpresents.CodeMirror {
      height: fit-content;
      width: fit-content;
      zoom: 1.5;
      text-align: left;
    }
  }
}

.custom-slide.light-mode :global {
  .ReactCodeMirror {
    box-shadow: 0 0 2px var(--primary-dark);
    border-radius: 0.5em;
    overflow: hidden;
  }

  .ReactCodeMirror .cm-s-reactpresents.CodeMirror {
    filter: invert(1) contrast(140%) brightness(100%);
    border-radius: 0.5em;

    .cm-tag {
      color: #f82;
    }
    .cm-number {
      color: #7a1;
    }
    .cm-comment {
      color: #888;
    }
    .highlight {
      background-color: rgba(189, 147, 249, 0.45);
    }
  }
}

.title-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  h1 {
    padding-right: 0 !important;
  }
}

.custom-slide + div {
  // this is the react-presents `TouchNav`, and I can't see that there's another
  // way to disable it :/
  display: none;
}
